header {
    border-radius: 0 0 1vw 1vw;
     box-shadow: 2px 2px 2px gray;
}
.nav_header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5vw 5vw;
}

.logo img {
    width: 125px;
    height: auto;
}
.nav_header ul {
    margin-left: 25vw;
    display: flex;
    gap: 4vw;
    list-style: none;
}

.btnheader {
    border:.1vw solid grey;
    padding: .5vw 0vw;
    border-radius: .5vw;
    width: 3vw;
    height: 3vw;
    text-align: center;
    font-size: 1vw;
}

.nav_header ul li a {
    text-decoration: none;
    color : black;
    font-size: 15px;
}

.theme{
    padding: .5vw 0vw;
    width: 12vw;
    height: 2vw;
    text-align: center;
}

#sortie{
    background: rgb(245, 57, 57);
}

.btnheader:hover{
    transform: scale(1.1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222;
    color: white;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 999;
  }

  .sidebar.active {
    left: 0;
  }

  /* Bouton fermer */
  .closebtn {
    position: absolute;
    top: 32px;
    right: 9px;
    font-size: 1.5vw;
    cursor: pointer;
  }
  .sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: .5s;
  }

  .sidebar a:hover {
    background: #5f5f5f;
    transition: .5s;
  }

  .content {
    padding: 20px;
    margin-top: 60px;
  }

  .hbienvenue{
    text-align: center;
    font-size: 3vw;
  }

  .section_pple{
    min-height: 100dvh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
     background:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 20%,  
            rgba(0, 0, 0, 0.75) 50%,  
            rgba(0, 0, 0, 1) 100%
        ),
        url("../img/Untitled.jpeg");
    background-size: cover;
    background-position: center;
  }
  .contenue_section {
    border: gray solid .2vw;
    color: white;
    max-width: 480px;
    margin-right: 80px;
    padding: 3vw;
    border-radius: .8vw;
  }
.contenue_section p {
  font-size: 1.5vw;
  text-align: justify;
  margin-top: 2vw;
}
.etape{
    display: none;
}

.etape.active{
    display: block;
}
/*Css pour formulaire de modification*/
.modif_form {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    animation: fadeIn 0.3s ease;
}

.contenue_modif {
    background: white;
    padding: 20px;
    width: 350px;
    margin: 10% auto;
    border-radius: 12px;
    animation: slideUp 0.3s ease;
}

.action_modif {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}